@media screen and (min-width: 992px) {

    




/* HEADER */

header {
    position: relative;
    width: 100%;
    height: 115vh;
  


}

#legendario {
    font-size: 8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:40vh;
    font-family: 'Berkshire Swash', cursive;;
    color: var(--special-font);
    text-align: center;
    text-shadow: 3px 3px 5px black;
}


/* NAVBAR */

.nav-bar {
    width: 60%;
    position: sticky;
    top: 10%;
    left: 50%;
    transform: translateX(-30%);
    z-index: 9;
    display: flex;
    height: 10vh;
    background-color: rgba(241, 225, 4, 0.811);
    justify-content: center;
    border-radius: 10px;
}

/* NAV BAR EFFECTS */

.nav-bar {
    opacity: 0;
    transition: 1.5s;
}

.show-nav-bar {
    opacity: 1;
}


/* MENU NAV BAR */


.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    padding: 0 0;
    justify-content: center;
    text-align: center;


}


.nav-menu-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 25%;
    height: 10vh;
    text-transform: uppercase;
    line-height: 10vh;
    

    
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 1.5em;
    line-height: 10vh;

}

.btn-menu {
    display: none;
    background: none;
    border: none;
    line-height: 10vh;
    font-size: 2rem;
    cursor: pointer;

}





}
