@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Aguafina+Script&family=Berkshire+Swash&display=swap');



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 12px;    
    
}


/* VAR COLORS */

:root {
    --first: #5000a0;
    --second: #6f33aa;
    --special-font: #afc3ff;
}

html {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#html {
    filter: blur(10%);

}


/* GENERAL SETTINGS */

body {
    color: var(--first);
    box-sizing: border-box;
}

body {
    font-family: 'Aclonica', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.container {
    display: flex;
}






/* MAIN */

#main {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
    background: linear-gradient(0deg, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0.068) 100%); 
    overflow: hidden;
    z-index: 1;
}




#name {
    font-size: 7em;
    color: var(--second);
    font-family: 'Aguafina Script', cursive;;
    padding-top: 20px;
}


/* COMMENTS */




/* NAV BAR EFFECTS */

.nav-bar {
    opacity: 0;
    transition: 0.9s;
}

.show-nav-bar {
    opacity: 1;
}


.hr {
    display: flex;
    border: none;
    width: 65%;
    height: 3px;
    align-self: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,0,160,1) 50%, rgba(0,0,0,1) 100%); 


}


.hr-div {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
}